<h1>Edit Movie</h1>

<form action="http://localhost:3000/update_movie/<%=@movie.id%>" id="mvie">
  <div>
    <label for="movie_title">Title:</label>
    <input id="movie_title" type="text" name="movie_title" value= <%= @movie.title %> >
  </div>
  <div>
    <label for="movie_image_url">Image URL:</label>
    <input id="movie_image_url" type="text" name="movie_picture" value= <%= @movie.image_url %>>
  </div>
  <div>
    <label for="movie_year">Year:</label>
    <input id="movie_year" type="number" name="movie_year" value= <%= @movie.year %>>
  </div>
  <div>
    <label for="movie_duration">Duration(minutes):</label>
    <input id="movie_bio" type="number" name="movie_duration" value= <%= @movie.duration %>>
  </div>
    <div>
    <label for="movie_description">Description:</label>
    <textarea name="movie_description" cols="10" rows="5" form="mvie" ><%= @movie.description %></textarea>
  </div>
  <div>
    <button>Update Movie</button>
  </div>
</form>


